requests
beautifulsoup4
selenium
spacy
nltk
symspellpy
flashtext
wordcloud
matplotlib
feedparser
numpy 
matplotlib 
pillow 
scikit-image 
opencv-python
kagglehub
matplotlib
scikit-learn
numpy
shap
seaborn
transformers
pygraphviz
xgboost
